body {
	
}

.menu-cont {
	float: left;
	background: #eee;
	width: 20%;
	height: 100%;
}

.main-cont{
	float: right;
	width: 80%;
}

.menu-cont .menu-item{
	cursor: pointer;
}

.main-cont {
}
